#spring:
#    datasource:
#        driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
#        url: ${DB_URL}
#        username: ${DB_USERNAME}
#        password: ${DB_PASSWORD}
#
#
#    jpa:
#        hibernate:
#            ddl-auto: create
#        properties:
#            hibernate:
#                generate-ddl: true
#                open-in-view: true
#                show-sql: true
#                format_sql: true
#                highlight_sql: true
#                use_sql_comments: true
#                database-platform: org.hibernate.dialect.PostgreSQLDialect
#
#    springdoc:
#        swagger-ui:
#            path: /swagger-ui.html
#            groups-order: DESC
#            operationsSorter: method
#            disable-swagger-default-url: true
#            display-request-duration: true
#            defaultModelsExpandDepth: -1
#        api-docs:
#            path: /api
#            show-actuator: true
#        default-consumes-media-type: application/json
#        default-produces-media-type: application/json
#        paths-to-match:
#            - /**
#
#jwt:
#    secret: ${JWT_SECRET}
spring:
    datasource:
        driver-class-name: org.postgresql.Driver
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: create
        properties:
            hibernate:
                generate-ddl: true
                open-in-view: true
                show-sql: true
                format_sql: true
                highlight_sql: true
                use_sql_comments: true
                dialect: org.hibernate.dialect.PostgreSQLDialect

    springdoc:
        swagger-ui:
            path: /swagger-ui.html
            groups-order: DESC
            operationsSorter: method
            disable-swagger-default-url: true
            display-request-duration: true
            defaultModelsExpandDepth: -1
        api-docs:
            path: /api
            show-actuator: true
        default-consumes-media-type: application/json
        default-produces-media-type: application/json
        paths-to-match:
            - /**


jwt:
    secret: ${JWT_SECRET}

